<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxf.sharding.mapper.UserMapper">

    <resultMap id="baseResultMap" type="com.luxf.sharding.bean.User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 分表时不会执行这个Logic SQL. 会执行sharding sphere处理后的Actual SQL -->
    <select id="getUserAnswerByUserId" resultType="com.luxf.sharding.resp.UserAnswerDTO">
        select u.*,a.id answerId, a.`text`,a.`result`
        from `user` u
                 left join `answer` a on u.id = a.user_id
        where u.id = #{userId}
    </select>

</mapper>
